body{
    font-family: 'Poppins', sans-serif;
   margin:0%;
    
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.flexiable{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width:50%;
    padding-left: 5%;
    padding-right: 8%;
}
.half-width img{
    width:80%; 
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(pink,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
   
}
.background-top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Resume{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right; 
}

.experiance-p{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 15px;
    border-radius: 10px;

}

.experiance{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#experiance-l{
     border-left: 10px solid tomato;
}

#experiance-r{
  border-left: 10px solid blue;
}
footer p{
    text-align: center;
}